  
  .form{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 15em;
    padding: 2em;
    margin: auto;
    text-align: center;
  
}


input{
    margin: .4em auto;
    padding: .4em;
    width: 80%;
    background-color: #fffdfd5b;
    text-align: center;
    color: #f6fff9;
    border-radius: 5px;
  }

h1{
    color: #f3feff;
   
}

