:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  min-height: 100vh;
  background-image: url(./img/bgsp.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}



button{
  color:#a37ad4;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid #8d46e4;;
  border-radius: 4px;
  padding: .8em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2em;
}

button:hover {
  transform: scale(1.1);
}


